!!!5
html
  head
    title Chimera
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Chimera Grid Framework')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/responsive-grid.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    header
      block header
      block content
    footer
      block footer
