/**********************************************
Chimera Framework
Inspired by Bootstrap + Skeleton + Foundation
24-column grid framework
With additional support for 16-column grids
**********************************************/

@import "settings"

/* Scaffolding */
.container
  position relative
  width main-width
  margin 0 auto
  padding 0
  &.fluid
    width 100%
  .column
    float left
    display inline
    margin-left (gutter-width / 2)
    margin-right (gutter-width / 2)
    &.fluid
      margin-left (gutter-width * 50 / main-width)%
      margin-right (gutter-width * 50 / main-width)%
    &>:first-child
      margin-left 0
    &>:last-child
      margin-right 0

.row
  zoom 1
  margin-bottom gutter-width

.row:before, .row:after
  content "\0020"
  display block
  overflow hidden
  visibility hidden
  width 0
  height 0

.row:after
  clear both

/* 1/24 */
.span-\31 \2F 24
  width (main-width / 24) - gutter-width
  &.fluid
    width (100/24 - (gutter-width * 100 / main-width))% !important

/* 1/16 */
.span-\31 \2F 16
  width (main-width / 16) - gutter-width
  &.fluid
    width (100/16 - (gutter-width * 100 / main-width))% !important

/* 1/12, 2/24 */
.span-\31 \2F 12,
.span-\32 \2F 24
  width (main-width / 12) - gutter-width
  &.fluid
    width (100/12 - (gutter-width * 100 / main-width))% !important

/* 1/8, 2/16, 3/24 */
.span-\31 \2F 8,
.span-\32 \2F 16,
.span-\33 \2F 24
  width (main-width / 8) - gutter-width
  &.fluid
    width (100/8 - (gutter-width * 100 / main-width))% !important

/* 1/6, 2/12, 4/24 */
.span-\31 \2F 6,
.span-\32 \2F 12,
.span-\34 \2F 24
  width (main-width / 6) - gutter-width
  &.fluid
    width (100/6 - (gutter-width * 100 / main-width))% !important

/* 3/16 */
.span-\33 \2F 16
  width (main-width * 3/16) - gutter-width
  &.fluid
    width (300/16 - (gutter-width * 100 / main-width))% !important

/* 5/24 */
.span-\35 \2F 24
  width (main-width * 5/24) - gutter-width
  &.fluid
    width (500/24 - (gutter-width * 100 / main-width))% !important

/* 1/4, 2/8, 3/12, 4/16, 6/24 */
.span-\31 \2F 4,
.span-\32 \2F 8,
.span-\33 \2F 12,
.span-\34 \2F 16,
.span-\36 \2F 24
  width (main-width / 4) - gutter-width
  &.fluid
    width (100/4 - (gutter-width * 100 / main-width))% !important

/* 7/24 */
.span-\37 \2F 24
  width (main-width * 7/24) - gutter-width
  &.fluid
    width (700/24 - (gutter-width * 100 / main-width))% !important

/* 5/16 */
.span-\35 /2F 16
  width (main-width * 5/16) - gutter-width
  &.fluid
    width (500/16 - (gutter-width * 100 / main-width))% !important

/* 1/3, 2/6, 4/12, 8/24 */
.span-\31 \2F 3,
.span-\32 \2F 6,
.span-\34 \2F 12,
.span-\38 \2F 24
  width (main-width / 3) - gutter-width
  &.fluid
    width (100/3 - (gutter-width * 100 / main-width))% !important

/* 3/8, 6/16, 9/24 */
.span-\33 \2F 8,
.span-\36 \2F 16,
.span-\39 \2F 24
  width (main-width * 3/8) - gutter-width
  &.fluid
    width (300/8 - (gutter-width * 100 / main-width))% !important

/* 5/12, 10/24 */
.span-\35 \2F 12,
.span-\31 \30 \2F 24
  width (main-width * 5/12) - gutter-width
  &.fluid
    width (500/12 - (gutter-width * 100 / main-width))% !important

/* 7/16 */
.span-\37 \2F 16
  width (main-width * 7/16) - gutter-width
  &.fluid
    width (700/16 - (gutter-width * 100 / main-width))% !important

/* 11/24 */
.span-\31 \31 \2F 24
  width (main-width * 11/24) - gutter-width
  &.fluid
    width (1100/24 - (gutter-width * 100 / main-width))% !important

/* 1/2, 2/4, 3/6, 4/8, 6/12, 8/16, 12/24 */
.span-\31 \2F 2,
.span-\32 \2F 4,
.span-\33 \2F 6,
.span-\34 \2F 8,
.span-\36 \2F 12,
.span-\38 \2F 16,
.span-\31 \32 \2F 24
  width (main-width / 2) - gutter-width
  &.fluid
    width (100/2 - (gutter-width * 100 / main-width))% !important

/* 13/24 */
.span-\31 \33 \2F 24
  width (main-width * 13/24) - gutter-width
  &.fluid
    width (1300/24 - (gutter-width * 100 / main-width))% !important

/* 9/16 */
.span-\39 \2F 16
  width (main-width * 9/16) - gutter-width
  &.fluid
    width (900/16 - (gutter-width * 100 / main-width))% !important

/* 7/12, 14/24 */
.span-\37 \2F 12,
.span-\31 \34 \2F 24
  width (main-width * 7/12) - gutter-width
  &.fluid
    width (700/12 - (gutter-width * 100 / main-width))% !important

/* 5/8, 10/16, 15/24 */
.span-\35 \2F 8,
.span-\31 \30 \2F 16,
.span-\31 \35 \2F 24
  width (main-width * 5/8) - gutter-width
  &.fluid
    width (500/8 - (gutter-width * 100 / main-width))% !important

/* 2/3, 4/6, 8/12, 16/24 */
.span-\32 \2F 3,
.span-\34 \2F 6,
.span-\38 \2F 12,
.span-\31 \36 \2F 24
  width (main-width * 2/3) - gutter-width
  &.fluid
    width (200/3 - (gutter-width * 100 / main-width))% !important

/* 11/16 */
.span-\31 \31 \2F 16
  width (main-width * 11/16) - gutter-width
  &.fluid
    width (1100/16 - (gutter-width * 100 / main-width))% !important

/* 17/24 */
.span-\31 \37 \2F 24
  width (main-width * 17/24) - gutter-width
  &.fluid
    width (1700/24 - (gutter-width * 100 / main-width))% !important

/* 3/4, 6/8, 9/12, 12/16, 18/24 */
.span-\33 \2F 4,
.span-\36 \2F 8,
.span-\39 \2F 12,
.span-\31 \32 \2F 16,
.span-\31 \38 \2F 24
  width (main-width * 3/4) - gutter-width
  &.fluid
    width (300/4 - (gutter-width * 100 / main-width))% !important

/* 19/24 */
.span-\31 \39 \2F 24
  width (main-width * 19/24) - gutter-width
  &.fluid
    width (1900/24 - (gutter-width * 100 / main-width))% !important

/* 13/16 */
.span-\31 \33 \2F 16
  width (main-width * 13/16) - gutter-width
  &.fluid
    width (1300/16 - (gutter-width * 100 / main-width))% !important

/* 5/6, 10/12, 20/24 */
.span-\35 \2F 6,
.span-\31 \30 \2F 12,
.span-\32 \30 \2F 24
  width (main-width * 5/6) - gutter-width
  &.fluid
    width (500/6 - (gutter-width * 100 / main-width))% !important

/* 7/8, 14/16, 21/24 */
.span-\37 \2F 8,
.span-\31 \34 \2F 16,
.span-\32 \31 \2F 24
  width (main-width * 7/8) - gutter-width
  &.fluid
    width (700/8 - (gutter-width * 100 / main-width))% !important

/* 11/12, 22/24 */
.span-\31 \31 \2F 12,
.span-\32 \32 \2F 24
  width (main-width * 11/12) - gutter-width
  &.fluid
    width (1100/12 - (gutter-width * 100 / main-width))% !important

/* 15/16 */
.span-\31 \35 \2F 16
  width (main-width * 15/16) - gutter-width
  &.fluid
    width (1500/16 - (gutter-width * 100 / main-width))% !important

/* 23/24 */
.span-\32 \33 \2F 24
  width (main-width * 23/24) - gutter-width
  &.fluid
    width (2300/24 - (gutter-width * 100 / main-width))% !important

/* 1/24 */
.offset-\31 \2F 24
  margin-left (main-width / 24) + (gutter-width / 2) !important
  &.fluid
    margin-left (100/24 + (gutter-width * 50 / main-width))% !important

/* 1/16 */
.offset-\31 \2F 16
  margin-left (main-width / 16) + (gutter-width / 2) !important
  &.fluid
    margin-left (100/16 + (gutter-width * 50 / main-width))% !important

/* 1/12, 2/24 */
.offset-\31 \2F 12,
.offset-\32 \2F 24
  margin-left (main-width / 12) + (gutter-width / 2) !important
  &.fluid
    margin-left (100/12 + (gutter-width * 50 / main-width))% !important

/* 1/8, 2/16, 3/24 */
.offset-\31 \2F 8,
.offset-\32 \2F 16,
.offset-\33 \2F 24
  margin-left (main-width / 8) + (gutter-width / 2) !important
  &.fluid
    margin-left (100/8 + (gutter-width * 50 / main-width))% !important

/* 1/6, 2/12, 4/24 */
.offset-\31 \2F 6,
.offset-\32 \2F 12,
.offset-\34 \2F 24
  margin-left (main-width / 6) + (gutter-width / 2) !important
  &.fluid
    margin-left (100/6 + (gutter-width * 50 / main-width))% !important

/* 3/16 */
.offset-\33 \2F 16
  margin-left (main-width * 3/16) + (gutter-width / 2) !important
  &.fluid
    margin-left (300/16 + (gutter-width * 50 / main-width))% !important

/* 5/24 */
.offset-\35 \2F 24
  margin-left (main-width * 5/24) + (gutter-width / 2) !important
  &.fluid
    margin-left (500/24 + (gutter-width * 50 / main-width))% !important

/* 1/4, 2/8, 3/12, 4/16, 6/24 */
.offset-\31 \2F 4,
.offset-\32 \2F 8,
.offset-\33 \2F 12,
.offset-\34 \2F 16,
.offset-\36 \2F 24
  margin-left (main-width / 4) + (gutter-width / 2) !important
  &.fluid
    margin-left (100/4 + (gutter-width * 50 / main-width))% !important

/* 7/24 */
.offset-\37 \2F 24
  margin-left (main-width * 7/24) + (gutter-width / 2) !important
  &.fluid
    margin-left (700/24 + (gutter-width * 50 / main-width))% !important

/* 5/16 */
.offset-\35 /2F 16
  margin-left (main-width * 5/16) + (gutter-width / 2) !important
  &.fluid
    margin-left (500/16 + (gutter-width * 50 / main-width))% !important

/* 1/3, 2/6, 4/12, 8/24 */
.offset-\31 \2F 3,
.offset-\32 \2F 6,
.offset-\34 \2F 12,
.offset-\38 \2F 24
  margin-left (main-width / 3) + (gutter-width / 2) !important
  &.fluid
    margin-left (100/3 + (gutter-width * 50 / main-width))% !important

/* 3/8, 6/16, 9/24 */
.offset-\33 \2F 8,
.offset-\36 \2F 16,
.offset-\39 \2F 24
  margin-left (main-width * 3/8) + (gutter-width / 2) !important
  &.fluid
    margin-left (300/8 + (gutter-width * 50 / main-width))% !important

/* 5/12, 10/24 */
.offset-\35 \2F 12,
.offset-\31 \30 \2F 24
  margin-left (main-width * 5/12) + (gutter-width / 2) !important
  &.fluid
    margin-left (500/12 + (gutter-width * 50 / main-width))% !important

/* 7/16 */
.offset-\37 \2F 16
  margin-left (main-width * 7/16) + (gutter-width / 2) !important
  &.fluid
    margin-left (700/16 + (gutter-width * 50 / main-width))% !important

/* 11/24 */
.offset-\31 \31 \2F 24
  margin-left (main-width * 11/24) + (gutter-width / 2) !important
  &.fluid
    margin-left (1100/24 + (gutter-width * 50 / main-width))% !important

/* 1/2, 2/4, 3/6, 4/8, 6/12, 8/16, 12/24 */
.offset-\31 \2F 2,
.offset-\32 \2F 4,
.offset-\33 \2F 6,
.offset-\34 \2F 8,
.offset-\36 \2F 12,
.offset-\38 \2F 16,
.offset-\31 \32 \2F 24
  margin-left (main-width / 2) + (gutter-width / 2) !important
  &.fluid
    margin-left (100/2 + (gutter-width * 50 / main-width))% !important

/* 13/24 */
.offset-\31 \33 \2F 24
  margin-left (main-width * 13/24) + (gutter-width / 2) !important
  &.fluid
    margin-left (1300/24 + (gutter-width * 50 / main-width))% !important

/* 9/16 */
.offset-\39 \2F 16
  margin-left (main-width * 9/16) + (gutter-width / 2) !important
  &.fluid
    margin-left (900/16 + (gutter-width * 50 / main-width))% !important

/* 7/12, 14/24 */
.offset-\37 \2F 12,
.offset-\31 \34 \2F 24
  margin-left (main-width * 7/12) + (gutter-width / 2) !important
  &.fluid
    margin-left (700/12 + (gutter-width * 50 / main-width))% !important

/* 5/8, 10/16, 15/24 */
.offset-\35 \2F 8,
.offset-\31 \30 \2F 16,
.offset-\31 \35 \2F 24
  margin-left (main-width * 5/8) + (gutter-width / 2) !important
  &.fluid
    margin-left (500/8 + (gutter-width * 50 / main-width))% !important

/* 2/3, 4/6, 8/12, 16/24 */
.offset-\32 \2F 3,
.offset-\34 \2F 6,
.offset-\38 \2F 12,
.offset-\31 \36 \2F 24
  margin-left (main-width * 2/3) + (gutter-width / 2) !important
  &.fluid
    margin-left (200/3 + (gutter-width * 50 / main-width))% !important

/* 11/16 */
.offset-\31 \31 \2F 16
  margin-left (main-width * 11/16) + (gutter-width / 2) !important
  &.fluid
    margin-left (1100/16 + (gutter-width * 50 / main-width))% !important

/* 17/24 */
.offset-\31 \37 \2F 24
  margin-left (main-width * 17/24) + (gutter-width / 2) !important
  &.fluid
    margin-left (1700/24 + (gutter-width * 50 / main-width))% !important

/* 3/4, 6/8, 9/12, 12/16, 18/24 */
.offset-\33 \2F 4,
.offset-\36 \2F 8,
.offset-\39 \2F 12,
.offset-\31 \32 \2F 16,
.offset-\31 \38 \2F 24
  margin-left (main-width * 3/4) + (gutter-width / 2) !important
  &.fluid
    margin-left (300/4 + (gutter-width * 50 / main-width))% !important

/* 19/24 */
.offset-\31 \39 \2F 24
  margin-left (main-width * 19/24) + (gutter-width / 2) !important
  &.fluid
    margin-left (1900/24 + (gutter-width * 50 / main-width))% !important

/* 13/16 */
.offset-\31 \33 \2F 16
  margin-left (main-width * 13/16) + (gutter-width / 2) !important
  &.fluid
    margin-left (1300/16 + (gutter-width * 50 / main-width))% !important

/* 5/6, 10/12, 20/24 */
.offset-\35 \2F 6,
.offset-\31 \30 \2F 12,
.offset-\32 \30 \2F 24
  margin-left (main-width * 5/6) + (gutter-width / 2) !important
  &.fluid
    margin-left (500/6 + (gutter-width * 50 / main-width))% !important

/* 7/8, 14/16, 21/24 */
.offset-\37 \2F 8,
.offset-\31 \34 \2F 16,
.offset-\32 \31 \2F 24
  margin-left (main-width * 7/8) + (gutter-width / 2) !important
  &.fluid
    margin-left (700/8 + (gutter-width * 50 / main-width))% !important

/* 11/12, 22/24 */
.offset-\31 \31 \2F 12,
.offset-\32 \32 \2F 24
  margin-left (main-width * 11/12) + (gutter-width / 2) !important
  &.fluid
    margin-left (1100/12 + (gutter-width * 50 / main-width))% !important

/* 15/16 */
.offset-\31 \35 \2F 16
  margin-left (main-width * 15/16) + (gutter-width / 2) !important
  &.fluid
    margin-left (1500/16 + (gutter-width * 50 / main-width))% !important

/* 23/24 */
.offset-\32 \33 \2F 24
  margin-left (main-width * 23/24) + (gutter-width / 2) !important
  &.fluid
    margin-left (2300/24 + (gutter-width * 50 / main-width))% !important
