/**********************************************
Chimera Framework
Inspired by Bootstrap + Skeleton + Foundation
24-column grid framework
With additional support for 16-column grids
**********************************************/

main-width = 960px
gutter-width = 20px
